.section{
    background-color: #FBF6E9;
    margin: auto;
}
.container-diy-introduce{
    padding-top: 150px;
    padding-bottom: 200px;
    width: auto;
}
.container-diy-introduce h1{
    font-family: 'Noto Sans TC';
    color: #4a2222;
    font-size: 40px;
    letter-spacing: 14%;
    text-align: center;
}
.list-diy-introduce{
    width: 900px;
    margin: auto;
}
.txt-card-diy-introduce{
    font-family: 'Noto Sans TC';
    color: #6c3333;
    line-height: 30px;
    letter-spacing: 12%;
    text-align: left;
    padding:77px 97px ;
}
.pic-card-diy-introduce img{
    width: 100%;
    border-radius: 50px;
}
.section-diy-class{
    background-color: #f2e7cb;
    padding: 78px 0;
}
.container-diy-class{
    width: 1100px;
}
.card-diy-class{
    background-color: #e1d1a6;
    display: flex;
    margin-top: 118px;
    border-radius: 50px;
}
.pic-card-diy-class img{
    width: 100%;
    overflow: hidden;
    border-radius: 50px 0 0 50px;
}
.into-card-diy-class{
    width: 50%;
    padding:46px 80px 50px 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-card-diy-class{
    font-family: 'Noto Sans TC';
    color: #6c3333;
    line-height: 24px;
    letter-spacing: 12%;
    text-align: center;
    font-size: 24px;
}
.category-card-diy-class{
    font-family: 'Noto Sans TC';
    color: #6c3333;
    line-height: 18px;
    letter-spacing: 20%;
    line-height: 30px;
    padding-top: 36px;
    flex-grow: 1; 
    font-size: 18px; 
}
.button-card-diy-class{
    width: 150px;
    height: 52px;
    background-color: #85540a;
    border-radius: 5px;
    border: none;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}
.button-card-diy-class:hover{
    transform: scale(1.1);
    background-color: #873535;
    
}
.button-card-diy-class a{
    text-decoration: none;
    color: #fff;;
    font-family: 'Noto Sans TC';
    font-size: 24px;
}
.card-diy-class:nth-child(1){
    position: relative;
    right: 80px;
   
}
.card-diy-class:nth-child(2){
    position: relative;
    left: 100px;
   
}