.section-banner {
    margin-top: 50px;
    position: relative;
}

.section-banner img {
    width: 100%;
    vertical-align: middle;
}

.section-banner h1 {
    position: absolute;
    top: 300px;
    left: 300px;
    font-family: 'Noto Sans TC';
    color: #6c3333;
    font-size: 18px;
    letter-spacing: 20px;
}

.section {
    padding: 95px 0;

}

.section-about {
    background-color: #f2e7cb;
    background-image: url(pic/background\ image5.png);
    background-position: center;
    background-repeat: no-repeat;
}

.pic-about {
    position: relative;
}

.pic-about img {
    width: 100%;
}

.pic-about h2 {
    position: absolute;
    top: 389px;
    left: 500px;
    font-family: 'Noto Sans TC';
    color: #6c3333;
    font-size: 18px;
    letter-spacing: 20px;
}

.txt-about {
    padding-top: 82px;
    text-align: center;
    width:64.75%;
    flex-wrap: wrap;
    margin: auto;

}

.txt-about p {
    text-align: left;
    letter-spacing: 12%;
    line-height: 30px;
    font-size: 16px;
    font-size:  clamp(8px, 1.041666vw, 16px);
    font-family: 'Noto Sans TC';
    color: #6c3333;
}

.container-produt {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-produt h2 {
    color: #4a2222;
    margin-bottom: 40px;
    font-size: 18px;
    font-family: 'Noto Sans TC';
}

.card-list {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.card {
    position: relative;
    width: 300px;
    margin: auto;
}

.pic-card img {
    width: 100%;
    vertical-align: middle;
    object-fit: cover;

}

.txt-card {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 41px;
    letter-spacing: 12%;
    font-size: 20px;
    font-family: 'Noto Sans TC';
    opacity: 0;
    transition: 0.5s;
}

.txt-card h3 {
    word-spacing: 10px;
    font-family: 'Noto Sans TC';
}

.card:hover .txt-card {
    opacity: 1;
}

.more {
    background-color: #85540a;
    margin-top: 77px;
    padding: 3px 25px;
    border-radius: 5px;
    border: 0;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 14%);
    transition: transform 0.3s ease;
}

.more:hover {
    transform: scale(1.1);
    background-color: #873535;

}

.more a:hover {
    font-weight: bold;
}

.more a {
    color: #fff;
    text-decoration: none;
    font-family: "Arima";
    font-size: 18px;
    letter-spacing: 7px;


}

.section-product-banner {
    position: relative;
}

.section-product-banner img {
    width: 100%;
}

.section-product-banner h2 {
    color: #fff;
    position: absolute;
    top: 160px;
    left: 170px;
    font-family: 'Noto Sans TC';
    font-size: 18px;
    letter-spacing: 20px;
}

.list-class {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.class {
    display: flex;
    background-color: #dfd0a9;
    margin-top: 20px;
}

.section-class {
    background-color: #f2e7cb;
    padding: 0 6.666666%;
    padding: 5.833333% 0;
}



.pic-class {
    /* width: 45.0325732%; */
    /* width: 50%; */
    margin: auto;
}
.pic-class img{
    max-width: 100%;
    height: 100%;
}
.list-class h3 {
    text-align: center;
    color: #4a2222;
    font-family: 'Noto Sans TC';
    font-size: 20px;
    letter-spacing: 18%;
    margin-bottom: 80px;
}

.list-class .class:nth-child(odd) {
    flex-direction: row-reverse;
    /* padding-top: 30px; */
}

.txt-class {
    /* width: 54.641693%; */
    /* width: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 85px;
}

.txt-class section {
    font-family: 'Noto Sans TC';
    color: #6c3333;
    line-height: 30px;
    letter-spacing: 12%;
    word-spacing: 30px;
    font-size: 16px;
}

.list-class .more {
    margin-top: 75px;
}

@media screen and (max-width:767px) {
    .section-banner {
        margin-top: 20px;
        position: relative;
    }

    .section {
        padding: 25px 0;

    }

    .section-banner h1 {
        top: 90px;
        left: 30px;
        font-size: 12px;
        letter-spacing: 10px;
    }

    .pic-about h2 {
        position: absolute;
        top: 250px;
        left: 300px;
        font-family: 'Noto Sans TC';
        color: #6c3333;
        font-size: 14px;
        letter-spacing: 20px;
    }

    .txt-about {
        padding-top: 20px;
        width: 376px;
    }

    .txt-about p {
        line-height: 20px;
        font-size: 9px;
    }

    .txt-card {
        position: relative;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 20px;
        font-size: 12px;
        padding: 10px;
        opacity: 1;
        transition: none;
        color: #6c3333;
    }
    .txt-class section{
        margin-top: 15px;
        line-height: 15px;
    }

    .section-class {
        background-color: #dfd0a9;
        padding: 15px 0;
    }

    .class {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        margin-top: 10px;
    }

    .list-class .class:nth-child(odd) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: auto;
        padding-top: 0px;
    }
    .pic-class{
        max-width: 100%;
    }
    .txt-class {
        padding: 0 40px;
        box-sizing: border-box;
        max-width: 100%;
    }

    .txt-class section {
        font-size: 10px;
    }

    .pic-class img {
        width: 938px;
        height: 350px;
        object-fit: cover;
    }

    

}

/* @media screen and (max-width:339px){
    .pic-class img{
        width: 50px;
        height:40px;
        box-sizing: border-box;
    }
    .txt-about p{
        line-height: 0px;

    }
    .txt-about{
        padding-top: 20px;
    }

} */