.section{
    background-color:#fbf6e9;
    margin: auto;
}
.section-login{
    background-image: url(../pic/會員登入.png) ;
    background-size: contain;
    background-position: center;
    width: 50%;
    background-repeat: no-repeat;

}
.container-login{
    padding: 150px 0;
    margin: auto;
}
.login-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-login{
    position: relative;
    width: 100%;
    text-align: center;
}
.title-login:after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color:  #6c3333;
    right: 0;
    /* left: -330px; */
    bottom: 0;
}
.title-login h1{
    font-family: 'Noto Sans TC';
    color: #4a2222;
    font-size: 24px;
    padding-bottom: 34px;
}
.account-login{
    margin: 20px 0 30px 0;
    color: #6c3333;
    font-size: 18px;
    letter-spacing: 23%;
    font-family: 'Noto Sans TC';
}
.password-login{
    color: #6c3333;
    font-size: 18px;
    letter-spacing: 23%;
    margin-bottom: 68px;
    font-family: 'Noto Sans TC';
}
.account-login input[type="text"]{
    text-align: center;
    color: #6c3333;
    background-color: #fbf6e9;
    width: 158px;
    height: 30px;
    border-radius: 10px;
    border: none;
    margin: 0 10px;
}
.password-login input[type="text"]{
    text-align: center;
    color: #6c3333;
    background-color: #fbf6e9;
    widows: 158px;
    height: 30px;
    border-radius: 10px;
    border: none;
    margin: 0 10px;
}

.bottom-login{
    display: flex;
    color: #6c3333;
    font-family: 'Noto Sans TC';
    font-size: 18px;
}
.bottom-login a{
    font-size: 18px;
    padding-left: 5px;
    margin-bottom: 76px;
    color: #6c3333;
    font-family: 'Noto Sans TC';
}
.footer-login{
    background-color: #fbf6e9;
    border: none;
    border-radius: 10px;
    transition:0.3s;
}
.footer-login:hover{
    transform: scale(1.1);
    background-color: #873535;
}
.footer-login a{
    text-decoration: none;
    color: #6c3333;
    font-family: 'Noto Sans TC';
    font-size: 24px;
    padding: 21px 40px;
}
@media screen and (max-width:767px){
    .section-login{
        background-image: url(../pic/login-2.png) ;
        background-size: contain;
        background-position: center;
        width: 50%;
        background-repeat: no-repeat;
    }
    .title-login h1{
        font-size: 18px;
    }
    .account-login,
    .password-login,
    .footer-login a{
        font-size: 14px;
    }
    .bottom-login p,
    .bottom-login a{
        font-size: 12px;
    }
    .footer-login{
        padding: 5px;
    }
    .password-login input[type="text"],
    .account-login input[type="text"]{
        width: 100px;
        height: 30px;
    }

}