
.container-member{
    display: flex;
    flex-direction: column;
    padding: 280px 0;
    align-items: center;
    background-image: url(../pic/member1.png) ;
    background-position: center;
    background-repeat: no-repeat;
    
}
.title-member {
    font-family: 'Noto Sans TC';
    color: 0;
    font-size: 20px;
    letter-spacing: 3px;
    padding-bottom: 40px;
}
.card-member{
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top:5px solid #000;
    border-bottom:5px solid #000;
    padding: 10px 0;
}
.commodity-member h2{
    font-family: 'Noto Sans TC';
    color: 0;
    font-size: 16px;
    text-align: center;
}
.pic-member{
    width: 173px;

}
.pic-member img{
    width: 100%;
    object-fit: cover;
    border-radius: 40px;
}
.num-member{
    font-family: 'Noto Sans TC';
    color: 0;
    font-size: 16px;
}
.num-member input[type="number"]{
    text-align: center;
    color: #6c3333;
    background-color: #fbf6e9;
    width: 40px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #000;
}
.price-member{
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans TC';
    color: 0;
    font-size: 16px;
}
.bottom-member{
    width: 600px;
    display: flex;
    justify-content: space-between;
    font-family: 'Noto Sans TC';
    color: 0;
    font-size: 16px;
    margin: 40px 0 60px 0;
}
.bottom-member p:nth-child(1){
    flex-grow:5;
}
.bottom-member p:nth-child(2){
    flex-grow:1.5;
}
.bottom-member p:nth-child(3){
    flex-grow:1.5
}
.button-member{
    background-color: #fbf6e9;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    transition:0.3s;
}
.button-member:hover{
    transform: scale(1.1);
    background-color: #873535;
}
.button-member a{
    font-family: 'Noto Sans TC';
    color: black;
    font-size: 16px;
    text-decoration: none;
}
