.section-member {
    background-image: url(../pic/member1.png);
    background-position: center;
    background-repeat: no-repeat;
}

.container-member {
    display: flex;
    flex-direction: column;
    padding: 280px 0;
    align-items: center;
    width: 45.57291666666667vw;

}

.title-member {
    font-family: 'Noto Sans TC';
    color: 0;
    font-size: 20px;
    letter-spacing: 3px;
    padding-bottom: 40px;
}

.txt-member {
    display: flex;
    width: 45.57291666666667vw;
    justify-content: space-between;
    font-family: 'Noto Sans TC';
    font-size: 16px;
    margin-bottom: 10px;
}
.list-card-member{
    border-bottom: 2px solid #000;
}
.card-member {
    border-top: 2px solid #000;
    width: 45.57291666666667vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.pic-member {
    width: 40%;
}

.pic-member img {
    width: 100%;
}

.commodity-member {
    padding: 12px;
}

.commodity-member h2 {
    font-family: 'Noto Sans TC';
    font-size: 16px;
    padding-bottom: 12px;
}

.commodity-member span {
    font-family: 'Arima';
    font-size: 16px;
}
.number-member{
    border: 1px solid black;
    width:6.510416vw;
    display: flex;
    justify-content: space-between;
}
.qty {
    width: 40px;
    height: 35px;
    text-align: center;
    border: 0;
    border: none;
    background-color: #fbf6e9;
    /* border-top: 1px solid  #fbf6e9;
    border-bottom: 1px solid #fbf6e9; */
}
input.qtyplus {
    width: 25px;
    height: 35px;
    border: none;
    background-color:  #fbf6e9;
    /* border: 1px solid  #fbf6e9;
    background:  #fbf6e9; */
}
input.qtyminus {
    width: 25px;
    height: 35px;
    border: none;
    /* border: 1px solid #fbf6e9; */
    background-color:  #fbf6e9;
}
.price-member h3{
    font-family: 'Noto Sans TC';
    font-size: 16px;
}
.bottom-member{
    width: 45.57291666666667vw;
    display: flex;
    justify-content: end;
    font-family: 'Noto Sans TC';
    font-size: 16px;
    margin: 20px 0;
}
.button-member {
    background: #f7ebc8;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
    
}

.button-member:hover {
    transform: scale(1.1);
    background-color: #873535;
}

.button-member a {
    font-family: 'Noto Sans TC';
    color: black;
    font-size: 16px;
    text-decoration: none;
}